* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Gilroy', sans-serif;
}

body img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 6px;
  }
  .main__icon {
    display: none;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 10px;
  }
  .main__icon {
    display: initial;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("otf"), url("/fonts/Gilroy-Light.otf") format("otf");
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.button {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.43rem;
  position: relative;
  display: block;
  height: 2.85rem;
  border: 1px solid rgba(34, 34, 34, 0.3);
  margin: 0 auto;
  background-color: transparent;
}

.button:before {
  content: '';
  display: block;
  width: 1.5em;
  height: 1px;
  position: absolute;
  left: -0.85em;
  top: 50%;
  background-color: #222222;
}

.nav__hover-panel .button {
  width: 15em;
  margin: 0 30px;
}

.nav-burger__panel-tel .button {
  width: 12rem;
  margin: 0;
}

.nav-burger__panel-tel .button::before {
  content: '';
  display: block;
  width: 1em;
  height: 1px;
  position: absolute;
  left: -0.5em;
  top: 50%;
  background-color: #222222;
}

.main .button {
  width: 15em;
  margin-bottom: 10%;
}

.portfolio .button {
  width: 13em;
}

.contacts .button {
  width: 18.5em;
  margin: 0;
}

@media (max-width: 414px) {
  .contacts .button {
    margin: 0 auto;
  }
}

.title-outline {
  color: transparent;
  -webkit-text-stroke: 0.6px #222;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  height: 10%;
  border-bottom: 1px solid #EBEBEB;
}

@media (max-width: 414px) {
  .nav {
    display: none;
  }
}

.nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 6%;
      flex-basis: 6%;
  border-width: 0 1px;
  border-style: solid;
  border-color: #EBEBEB;
}

@media (max-width: 414px) {
  .nav__icon {
    -ms-flex-preferred-size: 8%;
        flex-basis: 8%;
  }
}

.nav__icon:first-child {
  border-left-width: 0;
}

.nav__icon:last-child {
  border-right-width: 0;
}

.nav__icon svg {
  fill: #222;
  width: 39%;
  height: 39%;
}

.nav__icon:hover svg {
  fill: #C6876D;
}

.nav__icon.map:hover .nav__hover-panel,
.nav__icon.tel:hover .nav__hover-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .map svg,
.nav .tel svg {
  width: 23%;
  height: 23%;
}

.nav__hover-panel {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86%;
  left: 7%;
  height: 5rem;
  background: #fff;
  z-index: 1;
}

.nav__hover-panel p {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.43rem;
  color: #222222;
  padding: 0 1.43rem;
}

.nav__hover-panel p:first-child {
  border-right: 1px solid #EBEBEB;
}

.nav__hover-panel span {
  color: #C6876D;
}

.nav__hover-panel a {
  font-weight: 800;
  font-size: 2.14rem;
  line-height: 2.64rem;
  color: #222222;
}

.nav__menu-left, .nav__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.nav__menu-link {
  position: relative;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.43rem;
  color: rgba(34, 34, 34, 0.7);
}

.nav__menu-link:not(:last-child) {
  margin-right: 4em;
}

.nav__menu-link:hover {
  color: #222;
}

.nav__menu-link:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 244%;
  background-color: #222222;
}

@media (max-width: 414px) {
  .nav__menu-link:hover:after {
    top: 200%;
  }
}

.nav-burger {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  height: 10%;
  border-bottom: 1px solid #EBEBEB;
}

@media (min-width: 413px) {
  .nav-burger {
    display: none;
  }
}

@media (max-width: 414px) {
  .nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-burger__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  border-width: 0 1px;
  border-style: solid;
  border-color: #EBEBEB;
}

.nav-burger__icon:nth-child(1) {
  border-left-width: 0;
}

.nav-burger__icon:nth-child(5) {
  border-right-width: 0;
}

.nav-burger__icon-pic {
  fill: #222;
  width: 30%;
  height: 30%;
}

.nav-burger__icon:hover svg {
  fill: #C6876D;
}

.nav-burger__icon-cross {
  display: none;
  position: absolute;
  left: 35%;
  width: 30%;
  height: 30%;
}

.nav-burger__icon.js-open .pic-open {
  display: initial;
}

.nav-burger__icon.js-open .pic-closed {
  display: none;
}

.nav-burger__icon > span::before,
.nav-burger__icon > span::after,
.nav-burger__icon > span {
  position: relative;
  content: "";
  display: block;
  width: 26%;
  height: 2px;
  background-color: #222222;
}

.nav-burger__icon:hover > span::before,
.nav-burger__icon:hover > span::after,
.nav-burger__icon:hover > span {
  background-color: #C6876D;
}

.nav-burger__icon > span::before {
  width: 100%;
  bottom: 8px;
}

.nav-burger__icon > span::after {
  width: 100%;
  top: 6px;
}

.nav-burger__panel-map, .nav-burger__panel-tel {
  position: absolute;
  top: 103%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 438%;
  background-color: #fff;
  z-index: 1;
}

.nav-burger__panel-map p, .nav-burger__panel-tel p {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #222222;
  margin-bottom: 10%;
}

.nav-burger__panel-map span, .nav-burger__panel-tel span {
  color: #C6876D;
}

.nav-burger__panel-map {
  padding-left: 10%;
}

.nav-burger__panel-tel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-burger__panel-tel a {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 4px;
  margin: 1.5% 3%;
  color: #222222;
}

.nav-burger__menu {
  position: absolute;
  top: 103%;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 438%;
  text-align: end;
  padding-right: 10%;
  z-index: 0;
  background-color: #fff;
}

.nav-burger__menu-link {
  position: relative;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 4px;
  color: rgba(34, 34, 34, 0.7);
}

.nav-burger__menu-link:not(:last-child) {
  margin-bottom: 6%;
}

.nav-burger__menu-link:hover {
  color: #222;
}

.nav-burger__menu-link span {
  position: relative;
}

.nav-burger__menu-link:hover span:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #222222;
}

.nav-burger .js-appearance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.container {
  margin-bottom: 7%;
  background: bottom/contain no-repeat url("../image/main/main.png");
  position: relative;
}

@media (max-width: 414px) {
  header.container {
    background: bottom/contain no-repeat url("../image/main/build_6.png");
    margin-bottom: 16%;
  }
}

.main {
  position: absolute;
  top: 22%;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 414px) {
  .main {
    top: 18%;
  }
}

.main__title {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 3%;
  padding: 0 15px;
}

@media (max-width: 414px) {
  .main__title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 8%;
  }
}

@media (max-width: 280px) {
  .main__title {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

.main__title .main__subtitle:not(.default) {
  display: none;
}

.main__title.fixes, .main__title.types, .main__title.design, .main__title.renovation {
  color: #fff;
}

.main__title.fixes .title-outline, .main__title.types .title-outline, .main__title.design .title-outline, .main__title.renovation .title-outline {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.main__title.fixes .default, .main__title.types .default, .main__title.design .default, .main__title.renovation .default {
  display: none;
}

.main__title.fixes .main__subtitle.fixes {
  display: inline;
}

.main__title.types .main__subtitle.types {
  display: inline;
}

.main__title.design .main__subtitle.design {
  display: inline;
}

.main__title.renovation .main__subtitle.renovation {
  display: inline;
}

.main.open button {
  color: #fff;
  border-color: #fff;
}

.main.open button::before {
  background-color: #fff;
}

.main__icon {
  position: relative;
  left: calc(50% - 15px);
  z-index: -1;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50%;
  padding-bottom: 6%;
}

@media (max-width: 414px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 440px;
    padding-bottom: 0;
  }
}

.services .services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 6rem;
  font-weight: 800;
  font-size: 1.43rem;
  line-height: 1.78rem;
  letter-spacing: .03rem;
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
}

.services .services__link:first-child {
  border-left: 0;
}

@media (max-width: 414px) {
  .services .services__link {
    width: 100%;
    height: 78px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 390px) {
  .services .services__link {
    height: 73px;
  }
}

@media (max-width: 376px) {
  .services .services__link {
    height: 71px;
  }
}

@media (max-width: 360px) {
  .services .services__link {
    height: 68px;
  }
}

@media (max-width: 280px) {
  .services .services__link {
    height: 53px;
  }
}

.services .services__link-expanded {
  position: absolute;
  top: 0;
  bottom: 9.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.86rem;
  width: 25%;
  text-align: center;
  color: #FFF;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  z-index: -1;
}

@media (max-width: 414px) {
  .services .services__link-expanded {
    padding: 3.5rem;
  }
}

.services .services__link-expanded svg {
  max-width: 3rem;
  max-height: 3rem;
  margin-top: 12%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 414px) {
  .services .services__link-expanded svg {
    margin-top: 12%;
  }
}

.services .services__link-expanded h4 {
  font-weight: 800;
  font-size: 1.43rem;
  line-height: 1.71rem;
  text-align: center;
  margin-bottom: 6%;
}

.services .services__link-expanded p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.71rem;
  color: #FFF;
}

.services .services__link-expanded--red {
  background: #EB5757;
}

@media (max-width: 414px) {
  .services .services__link-expanded--red {
    width: 100%;
    bottom: 235px;
  }
}

@media (max-width: 390px) {
  .services .services__link-expanded--red {
    bottom: 219px;
  }
}

@media (max-width: 376px) {
  .services .services__link-expanded--red {
    bottom: 214px;
  }
}

@media (max-width: 360px) {
  .services .services__link-expanded--red {
    bottom: 205px;
  }
}

@media (max-width: 280px) {
  .services .services__link-expanded--red {
    bottom: 160px;
  }
}

.services .services__link-expanded--green {
  background: #219653;
}

@media (max-width: 414px) {
  .services .services__link-expanded--green {
    width: 100%;
    bottom: 157px;
  }
}

@media (max-width: 390px) {
  .services .services__link-expanded--green {
    bottom: 147px;
  }
}

@media (max-width: 376px) {
  .services .services__link-expanded--green {
    bottom: 143px;
  }
}

@media (max-width: 360px) {
  .services .services__link-expanded--green {
    bottom: 137px;
  }
}

@media (max-width: 280px) {
  .services .services__link-expanded--green {
    bottom: 107px;
  }
}

.services .services__link-expanded--blue {
  background: #2F80ED;
}

@media (max-width: 414px) {
  .services .services__link-expanded--blue {
    width: 100%;
    bottom: 79px;
  }
}

@media (max-width: 390px) {
  .services .services__link-expanded--blue {
    width: 100%;
    bottom: 73px;
  }
}

@media (max-width: 376px) {
  .services .services__link-expanded--blue {
    bottom: 71px;
  }
}

@media (max-width: 360px) {
  .services .services__link-expanded--blue {
    bottom: 69px;
  }
}

@media (max-width: 280px) {
  .services .services__link-expanded--blue {
    bottom: 54px;
  }
}

.services .services__link-expanded--violet {
  background: #9B51E0;
}

@media (max-width: 414px) {
  .services .services__link-expanded--violet {
    width: 100%;
    bottom: 0;
  }
}

.services .services__link:hover .services__link-expanded {
  opacity: 1;
  z-index: 0;
}

.services.open ~ .nav .nav__menu-link,
.services.open ~ .nav .nav__icon svg,
.services.open ~ .nav-burger .nav-burger__icon svg {
  color: #fff;
  fill: #fff;
}

.services.open ~ .nav-burger .nav-burger__icon > span::after,
.services.open ~ .nav-burger .nav-burger__icon > span::before,
.services.open ~ .nav-burger .nav-burger__icon > span {
  background-color: #fff;
}

.portfolio {
  max-width: 76%;
  margin: 0 auto 10%;
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 84%;
    margin: 0 auto 16%;
  }
}

.portfolio__title {
  position: relative;
  font-weight: 800;
  font-size: 2.28rem;
  line-height: 2.85rem;
  margin-bottom: 5%;
}

.portfolio__title:before {
  content: '';
  display: block;
  width: 2.86rem;
  height: 1px;
  position: absolute;
  left: -7%;
  top: 50%;
  background-color: #222222;
}

@media (max-width: 414px) {
  .portfolio__title:before {
    width: 1.86rem;
  }
}

@media (max-width: 414px) {
  .portfolio__title {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 10%;
  }
}

.portfolio__examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (270px)[4];
      grid-template-rows: repeat(4, 270px);
  gap: 10px 10px;
      grid-template-areas: "one one two"
 "three four two"
 "five six seven"
 "five eight eight";
  margin-bottom: 6%;
}

@media (max-width: 1200px) {
  .portfolio__examples {
    -ms-grid-rows: (220px)[4];
        grid-template-rows: repeat(4, 220px);
    gap: 8px 8px;
  }
}

@media (max-width: 992px) {
  .portfolio__examples {
    -ms-grid-rows: (180px)[4];
        grid-template-rows: repeat(4, 180px);
    gap: 6px 6px;
  }
}

@media (max-width: 768px) {
  .portfolio__examples {
    -ms-grid-rows: (140px)[4];
        grid-template-rows: repeat(4, 140px);
    gap: 4px 4px;
  }
}

@media (max-width: 414px) {
  .portfolio__examples {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (140px)[6];
        grid-template-rows: repeat(6, 140px);
        grid-template-areas: "one one"
 "three four"
 "five six "
 "five two"
 "seven two"
 "eight eight";
    margin-bottom: 10%;
  }
}

.portfolio__examples > div {
  position: relative;
  padding: 2.3rem;
}

@media (max-width: 414px) {
  .portfolio__examples > div {
    padding: 1.3rem;
  }
}

.portfolio__examples > div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.portfolio__examples > div:hover::before {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.portfolio__examples > div:hover .build {
  opacity: 1;
}

.portfolio__examples-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: one;
}

.portfolio__examples-1::before {
  background: center/cover no-repeat url("../image/main/build_1.png");
}

.portfolio__examples-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: two;
}

.portfolio__examples-2::before {
  background: center/cover no-repeat url("../image/main/build_2.png");
}

.portfolio__examples-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: three;
}

.portfolio__examples-3::before {
  background: center/cover no-repeat url("../image/main/build_3.png");
}

.portfolio__examples-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

.portfolio__examples-4::before {
  background: center/cover no-repeat url("../image/main/build_4.png");
}

.portfolio__examples-5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: five;
}

.portfolio__examples-5::before {
  background: center/cover no-repeat url("../image/main/build_5.png");
}

.portfolio__examples-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: six;
}

.portfolio__examples-6::before {
  background: center/cover no-repeat url("../image/main/build_6.png");
}

.portfolio__examples-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: seven;
}

.portfolio__examples-7::before {
  background: center/cover no-repeat url("../image/main/build_7.png");
}

.portfolio__examples-8 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: eight;
}

.portfolio__examples-8::before {
  background: center/cover no-repeat url("../image/main/build_8.png");
}

.portfolio .build-name {
  font-weight: 800;
  font-size: 1.43rem;
  line-height: 1.43rem;
  letter-spacing: 0.03rem;
  color: #fff;
}

@media (max-width: 414px) {
  .portfolio .build-name {
    font-size: 1rem;
  }
}

.portfolio .build {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 2em;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media (max-width: 414px) {
  .portfolio .build {
    bottom: 1em;
  }
}

.portfolio .build span {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 8px;
}

@media (max-width: 414px) {
  .portfolio .build span {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 4px;
  }
}

.portfolio .build h4 {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.43rem;
  color: #fff;
}

@media (max-width: 414px) {
  .portfolio .build h4 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.contacts {
  max-width: 76%;
  margin: 0 auto 11%;
}

@media (max-width: 414px) {
  .contacts {
    max-width: 84%;
    margin-bottom: 16%;
  }
}

.contacts__title {
  position: relative;
  font-weight: 800;
  font-size: 2.28rem;
  line-height: 2.86rem;
  margin-bottom: 4%;
}

.contacts__title:before {
  content: '';
  display: block;
  width: 2.86rem;
  height: 1px;
  position: absolute;
  left: -7%;
  top: 50%;
  background-color: #222222;
}

@media (max-width: 414px) {
  .contacts__title:before {
    width: 1.86rem;
  }
}

@media (max-width: 414px) {
  .contacts__title {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 10%;
  }
}

.contacts--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__addresses, .contacts__work, .contacts__questions {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 414px) {
  .contacts__addresses, .contacts__work, .contacts__questions {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.contacts__addresses--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 3.71rem;
  margin-bottom: 13%;
}

@media (max-width: 414px) {
  .contacts__addresses--container {
    padding-right: 30%;
    margin-bottom: 28%;
  }
}

.contacts__subtitle {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.43rem;
  margin-bottom: 0.57rem;
}

.contacts__info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.71rem;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  display: block;
  width: 2.14rem;
  height: 2.14rem;
  background-color: #222222;
  border-radius: 2px;
}

.contacts__link:not(:last-child) {
  padding: 4px;
  margin-right: 0.71rem;
}

@media (max-width: 414px) {
  .contacts__link:not(:last-child) {
    margin-right: 1.4rem;
  }
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7%;
}

.contacts__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.43rem;
}

@media (max-width: 414px) {
  .contacts__form-field {
    margin-bottom: 4rem;
  }
}

.contacts__form-field:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 2.71rem;
  background-color: #EBEBEB;
}

@media (max-width: 414px) {
  .contacts__form-field:after {
    top: 3.8rem;
  }
}

.contacts__form-field .pin {
  position: absolute;
  cursor: pointer;
  width: 1.28rem;
  height: 1.28rem;
  top: 40%;
  right: 0;
}

@media (max-width: 414px) {
  .contacts__form-field .pin {
    width: 35%;
    height: 35%;
    top: 48%;
    right: -14%;
  }
}

.contacts__form label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.64rem;
  line-height: 0.86rem;
}

@media (max-width: 414px) {
  .contacts__form label {
    margin-bottom: 2%;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.contacts__form input {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.71rem;
}

@media (max-width: 414px) {
  .contacts__form input {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.contacts__consent {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.64rem;
  line-height: 0.85rem;
  margin-bottom: 2.36rem;
  color: #909090;
}

@media (max-width: 414px) {
  .contacts__consent {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 12%;
  }
}

.contacts__consent-link {
  color: #222222;
  border-bottom: 1px dotted #000;
}

#file {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 76%;
  height: 4.86rem;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .copyright {
    max-width: 84%;
    height: 3.3rem;
  }
}

.copyright__agreement, .copyright__author {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.71rem;
}

@media (max-width: 414px) {
  .copyright__agreement, .copyright__author {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

.copyright strong {
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
}

@media (max-width: 414px) {
  .copyright strong {
    font-size: 0.7rem;
  }
}

.copyright:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: #222222;
}

.copyright div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright div:nth-child(1) {
  text-align: start;
}

.copyright div:nth-child(2) {
  text-align: end;
}
