.contacts {
	max-width: 76%;
	margin: 0 auto 11%;

	@media (max-width: 414px) {
		max-width: 84%;
		margin-bottom: 16%;
	}

	&__title {
		position: relative;
		font-weight: 800;
		font-size: 2.28rem;
		line-height: 2.86rem;

		margin-bottom: 4%;
		

		&:before {
			content: '';
			display: block;
			width: 2.86rem;
			height: 1px;
			position: absolute;
			left: -7%;
			top: 50%;

			background-color: #222222;

			@media (max-width: 414px) {
				width: 1.86rem;
			}
		}

		@media (max-width: 414px) {
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 10%;
		}
	}


	&--flex {
		display: flex;
		//width: 100%;
		flex-wrap: wrap;
	}

	&__addresses,
	&__work,
	&__questions {
		flex-basis: 33.33%;
		flex-grow: 1;

		@media (max-width: 414px) {
			flex-basis: 50%;
		}
	}

	&__addresses--container {
		display: flex;
		flex-direction: column;

		height: 3.71rem;

		margin-bottom: 13%;

		@media (max-width: 414px) {
			padding-right: 30%;
			margin-bottom: 28%;
		}
	}

	&__subtitle {
		font-weight: 800;
		font-size: 1rem;
		line-height: 1.43rem;
	
		margin-bottom: 0.57rem;
	}

	&__info {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.93rem;
		line-height: 1.71rem;
	}

	&__social {
		display: flex;
	}

	&__link {
		display: block;
		width: 2.14rem;
		height: 2.14rem;
		background-color: #222222;
		border-radius: 2px;

		&:not(:last-child) {
			padding: 4px;
			margin-right: 0.71rem;

			@media (max-width: 414px) {
				margin-right: 1.4rem;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		margin-top: 7%;
		
		&-field {
			position: relative;
			display: flex;
			flex-direction: column;

			margin-bottom: 2.43rem;

			@media (max-width: 414px) {
				margin-bottom: 4rem;
			}

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				top: 2.71rem;
				
				background-color: #EBEBEB;

				@media (max-width: 414px) {
					top: 3.8rem;
				}
			}

			

			.pin {
				position: absolute;
				cursor: pointer;
				width: 1.28rem;
				height: 1.28rem;
				top: 40%;
				right: 0;

				@media (max-width: 414px) {
					width: 35%;
					height: 35%;
					top: 48%;
					right: -14%;
				}
			}
		}

		label {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 0.64rem;
			line-height: 0.86rem;
			
			@media (max-width: 414px) {
				margin-bottom: 2%;
				font-size: 1rem;
				line-height: 1.2rem;
			}
		}

		input {
			position: relative;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 0.93rem;
			line-height: 1.71rem;

			@media (max-width: 414px) {
			 	font-size: 1.4rem;
				line-height: 1.6rem;
			}
		}
	}

	&__consent {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 0.64rem;
		line-height: 0.85rem;
		margin-bottom: 2.36rem;
		
		color: #909090;

		@media (max-width: 414px) {
			font-size: 0.8rem;
			line-height: 1rem;
			margin-bottom: 12%;
		}

		&-link {
			color: #222222;
			border-bottom: 1px dotted #000;
		}
	}
}

#file {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	opacity: 0;
}
