html {
	@media (max-width: 1200px) {
		font-size: 12px;
	}

	@media (max-width: 992px) {
		font-size: 10px;
	}

	@media (max-width: 768px) {
		font-size: 8px;
	}

	@media (max-width: 550px) {
		font-size: 6px;
	}

	@media (max-width: 414px) {
		font-size: 10px;
	}
}

@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-ExtraBold.otf") format("otf"), url("/fonts/Gilroy-Light.otf") format("otf");
}

main {
	flex: 1 1 auto;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.button {
	font-weight: 800;
	font-size: 1rem;
	line-height: 1.43rem;

	position: relative;
	display: block;
	height: 2.85rem;
	border: 1px solid rgba(34, 34, 34, 0.3);

	margin: 0 auto;

	background-color: transparent;

	&:before {
		content: '';
		display: block;
		width: 1.5em;
		height: 1px;
		position: absolute;
		left: -0.85em;
		top: 50%;

		background-color: #222222;
	}
}

.nav__hover-panel .button {
	width: 15em;
	margin: 0 30px;
}

.nav-burger__panel-tel .button {
	width: 12rem;
	margin: 0;

	&::before {
		content: '';
		display: block;
		width: 1em;
		height: 1px;
		position: absolute;
		left: -0.5em;
		top: 50%;

		background-color: #222222;
	}
}

.main .button {
	width: 15em;
	margin-bottom: 10%;
}

.portfolio .button {
	width: 13em;
}

.contacts .button {
	width: 18.5em;
	margin: 0;

	@media (max-width: 414px) {
		margin: 0 auto;
	}
}

.title-outline {
	color: transparent;
	-webkit-text-stroke: 0.6px #222;
}