.copyright {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: 76%;
	height: 4.86rem;

	margin: 0 auto;

	&__agreement, &__author {
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 0.93rem;
		line-height: 1.71rem;
	}

	strong {
		font-style: normal;
		font-weight: 800;
		font-size: 1rem;
	}

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 0;
		
		background-color: #222222;
	}
}

.copyright div {
	display: flex;
}

.copyright div:nth-child(1) {
	text-align: start;
}

.copyright div:nth-child(2) {
	text-align: end;
}