header.container {
	margin-bottom: 7%;
	background: bottom / contain no-repeat url("../image/main/main.png");
	position: relative;
}

.main {
	position: absolute;
	top: 22%;
	right: 0;
	left: 0;
	z-index: 1;

	&__title {
		font-weight: 800;
		font-size: 4rem;
		line-height: 5rem;
		text-align: center;

		margin-bottom: 3%;

		.main__subtitle:not(.default) {
			display: none;
		}

		&.fixes,
		&.types,
		&.design,
		&.renovation {
			color: #fff;

			.title-outline {
				color: transparent;
				-webkit-text-stroke: 1px #fff;
			}

			.default {
				display: none;
			}
		}

		&.fixes .main__subtitle.fixes {
			display: inline;
		}

		&.types .main__subtitle.types {
			display: inline;
		}

		&.design .main__subtitle.design {
			display: inline;
		}

		&.renovation .main__subtitle.renovation {
			display: inline;
		}

		/* @media (max-width:1200px) {
			font-size: 48px;
			line-height: 64px;
		} */
	}

	&.open button {
		color: #fff;
		border-color: #fff;

		&::before {
			background-color: #fff;
		}
	}

	button {
		width: 15em;
	}
}

.services {
	display: flex;
	justify-content: center;
	width: 100%;

	transition: background 0.3s ease;
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 48%;
	padding-bottom: 6%;

	/* @media (max-width: 1200px) {
		padding-top: 590px;
		padding-bottom: 72px;
	}

	@media (max-width: 992px) {
		padding-top: 500px;
		padding-bottom: 58px;
	}

	@media (max-width:768px) {
		padding-top: 390px;
		padding-bottom: 44px;
	} */

	.services__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 6rem;

		font-weight: 800;
		font-size: 1.43rem;
		line-height: 1.78rem;
		letter-spacing: .03rem;

		color: #FFF;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 0;

		&:first-child {
			border-left: 0;
		}


		&-expanded {
			position: absolute;
			top: 0;
			bottom: 10%;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 2.86rem;

			width: 25%;

			font-weight: 800;
			font-size: 1.43rem;
			line-height: 1.71rem;
			text-align: center;
			color: #FFF;

			opacity: 0;
			transition: opacity .3s ease;
			z-index: -1;

			@media (max-width: 992px) {
				bottom: 9.5%;
			}

			svg {
				max-width: 3rem;
				margin-top: 12%;
				align-self: center;
			}

			h4 {
				font-weight: 800;
				font-size: 1.43rem;
				line-height: 1.71rem;

				text-align: center;

				margin-bottom: 6%;
			}

			p {
				font-family: 'Montserrat';
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.71rem;

				color: #FFF;
			}
		}

		&-expanded--red {
			background: #EB5757;
		}

	  &-expanded--green {
			background: #219653;
		}

		&-expanded--blue {
			background: #2F80ED;
		}

		&-expanded--violet {
			background: #9B51E0;
		}

		&:hover .services__link-expanded {
			opacity: 1;
			z-index: 0;
		}
	}
}

.services.open ~ .nav .nav__menu-link,
.services.open ~ .nav .nav__icon svg {
	color: #fff;
	fill: #fff;
}
