header.container {
	margin-bottom: 7%;
	background: bottom / contain no-repeat url("../image/main/main.png");
	position: relative;

	@media (max-width: 414px) {
		background: bottom / contain no-repeat url("../image/main/build_6.png");

		margin-bottom: 16%;
	}
}

.main {
	position: absolute;
	top: 22%;
	right: 0;
	left: 0;
	z-index: 1;

	@media (max-width: 414px) {
		top: 18%;
	}

	&__title {
		font-weight: 800;
		font-size: 4rem;
		line-height: 5rem;
		text-align: center;

		margin-bottom: 3%;
		padding: 0 15px;

		@media (max-width: 414px) {
			font-size: 2.5rem;
			line-height: 3.5rem;
			margin-bottom: 8%;
		}

		@media (max-width: 280px) {
			font-size: 2.2rem;
			line-height: 3.2rem;
		}

		.main__subtitle:not(.default) {
			display: none;
		}

		&.fixes,
		&.types,
		&.design,
		&.renovation {
			color: #fff;

			.title-outline {
				color: transparent;
				-webkit-text-stroke: 1px #fff;
			}

			.default {
				display: none;
			}
		}

		&.fixes .main__subtitle.fixes {
			display: inline;
		}

		&.types .main__subtitle.types {
			display: inline;
		}

		&.design .main__subtitle.design {
			display: inline;
		}

		&.renovation .main__subtitle.renovation {
			display: inline;
		}
	}

	&.open button {
		color: #fff;
		border-color: #fff;

		&::before {
			background-color: #fff;
		}
	}

	&__icon {
		position: relative;
		left: calc(50% - 15px);
		z-index: -1;
	}
}

.services {
	display: flex;
	justify-content: center;
	width: 100%;

	transition: background 0.3s ease;
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 50%;
	padding-bottom: 6%;

	@media (max-width: 414px) {
		flex-direction: column;
		padding-top: 440px;
		padding-bottom: 0;
	}

	.services__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 6rem;

		font-weight: 800;
		font-size: 1.43rem;
		line-height: 1.78rem;
		letter-spacing: .03rem;

		color: #FFF;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 0;

		&:first-child {
			border-left: 0;
		}

		@media (max-width: 414px) {
			width: 100%;
			height: 78px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			background-color: rgba(0, 0, 0, 0.4);
		}

		@media (max-width: 390px) {
			height: 73px;
		}

		@media (max-width: 376px) {
			height: 71px;
		}

		@media (max-width: 360px) {
			height: 68px;
		}

		@media (max-width: 280px) {
			height: 53px;
		}
		
		&-expanded {
			position: absolute;
			top: 0;
			bottom: 9.7%;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 2.86rem;

			width: 25%;

			text-align: center;
			color: #FFF;

			opacity: 0;
			transition: opacity .3s ease;
			z-index: -1;

			@media (max-width: 414px) {
				padding: 3.5rem;
			}

			svg {
				max-width: 3rem;
				max-height: 3rem;
				margin-top: 12%;
				align-self: center;

				@media (max-width: 414px) {
					margin-top: 12%;
				}
			}

			h4 {
				font-weight: 800;
				font-size: 1.43rem;
				line-height: 1.71rem;

				text-align: center;

				margin-bottom: 6%;
			}

			p {
				font-family: 'Montserrat';
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.71rem;

				color: #FFF;
			}
		}

		&-expanded--red {
			background: #EB5757;

			@media (max-width: 414px) {
				width: 100%;
				bottom: 235px;
			}

			@media (max-width: 390px) {
				bottom: 219px;
			}

			@media (max-width: 376px) {
				bottom: 214px;
			}

			@media (max-width: 360px) {
				bottom: 205px;
			}

			@media (max-width: 280px) {
				bottom: 160px;
			}
		}

	  &-expanded--green {
			background: #219653;

			@media (max-width: 414px) {
				width: 100%;
				bottom: 157px;
			}

			@media (max-width: 390px) {
				bottom: 147px;
			}

			@media (max-width: 376px) {
				bottom: 143px;
			}

			@media (max-width: 360px) {
				bottom: 137px;
			}

			@media (max-width: 280px) {
				bottom: 107px;
			}
		}

		&-expanded--blue {
			background: #2F80ED;

			@media (max-width: 414px) {
				width: 100%;
				bottom: 79px;
			}

			@media (max-width: 390px) {
				width: 100%;
				bottom: 73px;
			}

			@media (max-width: 376px) {
				bottom: 71px;
			}

			@media (max-width: 360px) {
				bottom: 69px;
			}

			@media (max-width: 280px) {
				bottom: 54px;
			}
		}

		&-expanded--violet {
			background: #9B51E0;

			@media (max-width: 414px) {
				width: 100%;
				bottom: 0;
			}
		}

		&:hover .services__link-expanded {
			opacity: 1;
			z-index: 0;
		}
	}
}

.services.open ~ .nav .nav__menu-link,
.services.open ~ .nav .nav__icon svg,
.services.open ~ .nav-burger .nav-burger__icon svg {
	color: #fff;
	fill: #fff;
}

.services.open ~ .nav-burger .nav-burger__icon > span::after,
.services.open ~ .nav-burger .nav-burger__icon > span::before,
.services.open ~ .nav-burger .nav-burger__icon > span {
	background-color: #fff;
}
