.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  z-index: 1;
  
  height: 6rem;

  border-bottom: 1px solid #EBEBEB;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 6rem;

    border-width: 0 1px;
    border-style: solid;
    border-color: #EBEBEB;

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }

    svg {
      fill: #222;
      width: 2.14rem;
      height: 2.14rem;
    }

    &:hover svg {
      fill: #C6876D;
    }

    &.map:hover .nav__hover-panel,
    &.tel:hover .nav__hover-panel {
      display: flex;
    }
  }

  &__menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__hover-panel {
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    width: calc(100% - 12rem);
    left: 6rem;
    height: 6rem;
    
    background: #fff;
    z-index: 1;

    p {
      font-weight: 800;
      font-size: 1rem;
      line-height: 1.43rem;
      color: #222222;

      padding: 0 20px;

      &:first-child {
        border-right: 1px solid #EBEBEB;
      }
    }

    span {
      color: #C6876D;
    }

    a {
      font-weight: 800;
      font-size: 2.14rem;
      line-height: 2.64rem;

      color: #222222;
    }

    button {
      width: 15em;
      margin: 0 30px;
    }
  }

  &__menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__menu-link {
    position: relative;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.43rem;

    color: rgba(34, 34, 34, 0.7);

    &:not(:last-child) {
      margin-right: 4em;

      @media (max-width:1200px) {
        margin-right: 3em;
      }
    }

    &:hover {
      color: #222;
    }

    &:hover:after {
      content: '';
      display: block;
      width: 100%;
      height: 1.5px;
      position: absolute;
      top: 260%;
      background-color: #222222;
    }
  }
}

