.portfolio {
	max-width: 76%;
	margin: 0 auto 10%;

	@media (max-width:768px) {
		max-width: 84%;
		margin: 0 auto 16%;
	}


	&__title {
		position: relative;
		font-weight: 800;
		font-size: 2.28rem;
		line-height: 2.85rem;

		margin-bottom: 5%;

		&:before {
			content: '';
			display: block;
			width: 2.86rem;
			height: 1px;
			position: absolute;
			left: -7%;
			top: 50%;

			background-color: #222222;

			@media (max-width:414px) {
				width: 1.86rem;
			}
		}

		@media (max-width:414px) {
			font-size: 1.6rem;
			line-height: 2rem;
		
			margin-bottom: 10%;
		}
	}

	&__examples {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 270px); 
		gap: 10px 10px; 
		grid-template-areas:
			"one one two"
			"three four two"
			"five six seven"
			"five eight eight";

		margin-bottom: 6%;

		@media (max-width:1200px) {
			grid-template-rows: repeat(4, 220px);
			gap: 8px 8px;
		}

		@media (max-width:992px) {
			grid-template-rows: repeat(4, 180px);
			gap: 6px 6px;
		}
		
		@media (max-width:768px) {
			grid-template-rows: repeat(4, 140px);
			gap: 4px 4px;
		}

		@media (max-width:414px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(6, 140px);
			grid-template-areas: 
				"one one"
				"three four"
				"five six "
				"five two"
				"seven two"
				"eight eight";

			margin-bottom: 10%;
		}
		
		& > div {
			position: relative;
			padding: 2.3rem;

			@media (max-width:414px) {
				padding: 1.3rem;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				transition: filter 0.3s ease;
			}

			&:hover {
				&::before {
					filter: brightness(0.6);
				}

				.build {
					opacity: 1;
				}
			}
		}

		&-1 {
			grid-area: one;
			
			&::before {
				background: center/cover no-repeat url("../image/main/build_1.png");
			}
		}

		&-2 {
			grid-area: two;

			&::before {
				background: center/cover no-repeat url("../image/main/build_2.png");
			}
		}

		&-3 {
			grid-area: three;

			&::before {
				background: center/cover no-repeat url("../image/main/build_3.png");
			}
		}

		&-4 {
			grid-area: four;

			&::before {
				background: center/cover no-repeat url("../image/main/build_4.png");
			}
		}

		&-5 {
			grid-area: five;
			&::before {
				background:center/cover no-repeat url("../image/main/build_5.png");
			}
		}

		&-6 {
			grid-area: six;

			&::before {
				background: center/cover no-repeat url("../image/main/build_6.png");
			}
		}

		&-7 {
			grid-area: seven;

			&::before {
				background: center/cover no-repeat url("../image/main/build_7.png");
			}
		}

		&-8 {
			grid-area: eight;

			&::before {
				background: center/cover no-repeat url("../image/main/build_8.png");
			}
		}
	}

	.build-name {
		font-weight: 800;
		font-size: 1.43rem;
		line-height: 1.43rem;
		letter-spacing: 0.03rem;

		color: #fff;

		@media (max-width:414px) {
			font-size: 1rem;
		}
	}

	.build {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		position: absolute;
		bottom: 2em;
		opacity: 0;
		transition: opacity 0.3s ease;

		@media (max-width: 414px) {
			bottom: 1em;
		}

		span {
			font-family: 'Montserrat';
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.2rem;
			
			color: #FFF;
			opacity: 0.7;

			margin-bottom: 8px;

			@media (max-width: 414px) {
				font-size: 0.8rem;
				line-height: 1rem;
				margin-bottom: 4px;
			}
		}

		h4 {
			font-weight: 800;
			font-size: 1rem;
			line-height: 1.43rem;

			color: #fff;

			@media (max-width: 414px) {
				font-size: 0.8rem;
				line-height: 1rem;
			}
		}
	}
}
